<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={%static "css/main/all.min.css" %}>
  <link rel="stylesheet" href={%static "css/main/style.css" %}>
  <link rel="stylesheet" href={%static "css/all_students/style.css" %}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;800&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
{% include "../includes/nav.html" %}
  <div class="students">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>GPA</th>
            <th>Gender</th>
            <th>Level</th>
            <th>Status</th>
            <th>Department</th>
            <th>E-mail</th>
            <th>Date of Birth</th>
            <th>Mobile Number</th>
          </tr>
        </thead>

        <tbody class="body">
          {% if students%}
          {% for s in students%}
          {% comment %} {%x = 10%} {% endcomment %}
          {% comment %} {%print('1')%} {% endcomment %}

          <tr class="data0">
            <td class="id{{s}} id">{{ s.id }}</td>
            <td class="name{{s}}">{{s.name}}</td>
            <td class="gpa{{s}}">{{s.gpa}}</td>
            <td class="gender{{s}}">{{ s.gender }}</td>
            <td class="level{{s}}">{{ s.level}}</td>
            {% if s.status == True %}
            <td class="status{{s}} status" id={{s}}>Active</td>
            {% else %}
            <td class="status{{s}} status" id={{s}}>Not Active</td>
            {% endif %}
            <td class="dep{{s}}">{{ s.Department }}</td>
            <td class="email{{s}}">{{ s.email }}</td>
            <td class="birth{{s}}">{{ s.date_of_birth }}</td>
            <td class="number{{s}}">{{ s.mobile_number }}</td>
          </tr>
          {%endfor%}
          {%endif%}
        </tbody>
      </table>
      <div class="select-students">
        <button class="active">Select Active</button>
        <button class="notActive">Select Not Active</button>
      </div>
      <div class="show-all">
        <button class="showAll">View All</button>
      </div>
    </div>
  </div>
  <script src={%static 'scripts/all_students/main.js' %}> </script>
  <!-- <script src="../scripts/logout.js"> </script> -->
</body>

</html>