<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="our page to add student" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main-style.css">
    <link rel="stylesheet" href="./addStudent.css">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <title>Add student</title>
</head>

<body>
    <nav>
        <div class="container"><a href="../index.html"><img src="../imgs/6268894d1aafb4935ed1b6e685b213dc.png"
                    alt=""></a>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../profile/profile.html">Profile</a></li>
                <li class="services"><a href="#">Services</a>
                    <div class="services-menu">
                        <ul>
                            <li><a href="../all-students/student.html">Students</a></li>
                            <li><a href="../edit-students/edit.html">Edit Students</a></li>
                            <li><a href="../register-department/register-department.html">Register Department</a></li>
                            <li><a href="#">Add Student</a></li>
                            <li><a href="#">Add Announcement</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="../instructions/Instructions.html">Instructions</a></li>
                <li id="logout"><a>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="form">
        <div class=" container">
            <div class="title">Register New Student</div>
            <br />
            <form action="#">
                <div class="userdetalis">
                    <div class="input-box">
                        <span class="detalis">Student Name</span>
                        <input type="text" placeholder="Student Name" id="studentName">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Id</span>
                        <input type="text" placeholder="Student Id" id="id">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Date of birth</span>
                        <input type="date" id="date">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Place of birth</span>
                        <input type="text" placeholder="Enter the Place">
                    </div>
                    <div class="input-box">
                        <span class="detalis">GPA</span>
                        <input type="text" placeholder="0" id="gpa">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Total points</span>
                        <input type="text" placeholder="1000" id="points">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Level</span>
                        <input type="text" placeholder="Enter Level" id="level">
                    </div>
                    <div class="input-box">
                        <span class="detalis">status</span>
                        <input type="text" placeholder="Active or inactive" id="status">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Department</span>
                        <input type="text" placeholder="Genral" id="dep">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Entry Year</span>
                        <input type="text" placeholder="2020" id="year">
                    </div>
                    <div class="input-box">
                        <span class="detalis">E-mail</span>
                        <input type="email" placeholder="Enter mail" id="email">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Mobile Phone</span>
                        <input type="text" placeholder="Enter number" id="phone">
                    </div>
                    <div class="input-box">
                        <span class="detalis">Nationality</span>
                        <input type="text" placeholder="Enter your Nationality" id="nationality">
                    </div>
                    <div class="input-box">
                        <span class="detalis">National Id</span>
                        <input type="text" placeholder="Enter your National Id" id="national-id">
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot1">
                    <input type="radio" name="gender" id="dot2">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot1">
                            <span class="dot one" id="male"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot2">
                            <span class="dot two" id="female"></span>
                            <span class="gender">Female</span>
                        </label>
                    </div>
                </div>
                <br>
                <div class="button">
                    <button id="btn" type="button">Register</button>
                    <!-- <input value="Register" type="button"> -->
                    <input type="reset" id="reset">
                </div>
            </form>
        </div>
    </div>

    <script src="../scripts/logout.js"></script>
    <script src="./add.js"></script>
</body>

</html>