<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/instructions/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title>
        Instructions page
    </title>
</head>

<body>
    {% include "includes/nav.html" %}
    <h1 class="head">
        Instructions for users
    </h1>
    <div class="col">
        <div class="head1">
            <h2>How to Register :</h2>
            <p>(1) Go to the navigation bar at the top of the page</p>
            <p>(2) Select Register option.</p>
            <p>(3) Registeration page will open.</p>
            <p>(4)Fill in the required informations field with your information to create an account.</p>
            <p>(5)Submit the information that you entered and you'll account will be done.</p>
        </div>
        <div class="head2">
            <h2>How to add a student:</h2>
            <p>(1) Go to the navigation bar at the top of the page</p>
            <p>(2) Select Services.</p>
            <p>(3)A drop down menu will appear,Select add student option from it.</p>
            <p>(4) Add student page will open.</p>
            <p>(5) Fill the required information field for the new student to be added such as his number , ID ,
                Name..etc.</p>
            <p>(6) Press save so that all the student's information will be saved.</p>
        </div>
        <div class="head3">
            <h2>How to edit your profile : </h2>
            <p>(1) Go to the navigation bar at the top of the page.</p>
            <p>(2) Select profile .</p>
            <p>(3) you profile page will open</p>
            <p>(4) Select the part you want to edit and make changes on it.(You must've already an account and
                loggedIn).</p>
            <p>(5) click on button (save changes)</p>

        </div>
       
        <div class="head5">
            <h2>How to edit student:</h2>
            <p>(1) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(2)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(3)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(4)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="head6">
            <h2>How to Register course:</h2>
            <p>(1) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(2)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(3) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(4) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="head7">
            <h2>How to view students:</h2>
            <p>(1) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(2)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(3) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(4) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
         <div class="head4">
            <h2>How to add announcement:</h2>
            <p>(1) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(2)Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(3) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>(4) Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</body>

</html>
