<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/main-style.css">
    <link rel="stylesheet" href="./style/home.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <nav> 
      <div class="container"><a href="#"><img src="./imgs/6268894d1aafb4935ed1b6e685b213dc.png" alt=""></a>
        <ul>
          <li id="home"><a href="#">Home</a></li>
          <li id="profile"><a href="./profile/profile.html">Profile</a></li>
          <li class="services" id="services"><a href="#">Services</a>
            <div class="services-menu">
              <ul>
                <li><a href="./all-students/student.html">Students</a></li>
                <li><a href="./edit-students/edit.html">Edit Students</a></li>
                <li><a href="./register-department/register-department.html">Register Department</a></li>
                <li><a href="./add-student/addStudent.html">Add Student</a></li>
                <li><a href="#">Add Announcement</a></li>
              </ul>
            </div>
          </li>
          <li id="instructions"><a href="./instructions/Instructions.html">Instructions</a></li>
          <li id="login"><a href="./login/login.html">Login</a></li>
          <li id="logout"><a>Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="announcement">
      <div class="container"> 
        <div class="heading"> 
          <h2>Welcome, FCI Community</h2>
        </div>
        <div class="box"> 
          <h2>For General programs </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, excepturi debitis vero, unde adipisci ducimus aut delectus corrupti laudantium expedita voluptate illum iste iusto facere quas in sint aliquid dolore.</p>
        </div>
        <div class="box important">
          <h2>For General programs </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, excepturi debitis vero, unde adipisci ducimus aut delectus corrupti laudantium expedita voluptate illum iste iusto facere quas in sint aliquid dolore.</p>
        </div>
        <div class="box"> 
          <h2>For General programs </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, excepturi debitis vero, unde adipisci ducimus aut delectus corrupti laudantium expedita voluptate illum iste iusto facere quas in sint aliquid dolore.</p>
        </div>
        <div class="box"> 
          <h2>For General programs </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, excepturi debitis vero, unde adipisci ducimus aut delectus corrupti laudantium expedita voluptate illum iste iusto facere quas in sint aliquid dolore.</p>
        </div>
        <div class="box"> 
          <h2>For General programs </h2>
          <p class="arabic">تم فتح باب الإلتماسات للترم الأول 2021-2022 لجميع الطلاب من خلال صفحة الإلتماسات حتى 31/3/2022</p>
        </div>
      </div>
    </div>
    <script src="./scripts/logout.js"> </script>
    <script src="./scripts/main.js"> </script>
  </body>
</html>